<footer class="main-footer">
    <div class="involved">
        <a href="https://github.com/aslayclevisson" rel="noreferrer noopener" target="_blank"><strong>By Aslay Clevisson</strong></a>
    </div>

    <div class="made-with">
        <small class="made-with-text">Powered by</small>
        <a href="https://www.djangoproject.com/" rel="noreferrer noopener" target="_blank">
            <img src="https://static.djangoproject.com/img/logos/django-logo-positive.svg" alt="django icon">
        </a>
    </div>

    <div class="easter-egg">
        <a href="https://matias.ma/nsfw/" rel="noreferrer noopener" target="_blank">
            <span><i class="fa-solid fa-heart"></i></span>
        </a>

</footer>